spring:
  application:
    name: pixwallet
  profiles:
    active: local

server:
  port: 8080

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized
      
logging:
  level:
    root: INFO
    "[org.springframework.web]": INFO
    "[org.pix.wallet]": DEBUG
