server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        http:
          endpoint: 0.0.0.0:4318
        grpc:
          endpoint: 0.0.0.0:4317

ingester:
  max_block_bytes: 104857600
  max_block_duration: 5m

compactor:
  compaction:
    compaction_window: 1h
    block_retention: 24h
    compacted_block_retention: 48h

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces
