apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: http://prometheus:9090
    isDefault: true
    version: 1
    editable: true

  - name: Tempo
    type: tempo
    access: proxy
    orgId: 1
    uid: tempo
    url: http://tempo:3200
    version: 1
    editable: true
    jsonData:
      tracesToLogsV2:
        datasourceUid: 'loki'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
        tags: [{ key: 'correlationId', value: 'correlationId' }, { key: 'endToEndId', value: 'endToEndId' }]
        filterByTraceID: true
        filterBySpanID: false
        customQuery: true
        query: '{app="pixwallet"} | json | correlationId="${__span.tags.correlationId}" or endToEndId="${__span.tags.endToEndId}"'
      tracesToMetrics:
        datasourceUid: 'prometheus'
        spanStartTimeShift: '-1h'
        spanEndTimeShift: '1h'
      serviceMap:
        datasourceUid: 'prometheus'
      nodeGraph:
        enabled: true

  - name: Loki
    type: loki
    access: proxy
    orgId: 1
    uid: loki
    url: http://loki:3100
    version: 1
    editable: true
    jsonData:
      derivedFields:
        - datasourceUid: tempo
          matcherRegex: "\"traceId\"\\s*:\\s*\"([0-9a-fA-F]+)\""
          name: TraceID
          url: '$${__value.raw}'
          urlDisplayLabel: 'View Trace'
        - datasourceUid: tempo
          matcherRegex: "\"trace_id\"\\s*:\\s*\"([0-9a-fA-F]+)\""
          name: TraceID (snake_case)
          url: '$${__value.raw}'
          urlDisplayLabel: 'View Trace'
